html {
    background: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-size: small;
    font-family: 'Bree Serif', serif;
  }
  
  label {
    text-transform: uppercase;
    color: #ffa600;
    text-shadow: -3px -4px 7px #000000;
  }

    input[type=email], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid rgb(158, 206, 238);
      box-sizing: border-box;
      border-radius: 20px;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: rgb(179, 198, 233);
      color: rgb(7, 4, 4);
      padding: 0.5em 1em;
      margin: 1em 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.7;
      font-family: 'Bree Serif', serif;
      font-size: large;
      margin-top: 1.5em;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
      color: white;
    }
    
    /* Extra style for the cancel button (red) */
    .cancelbtn {
      width: auto;
      background-color: #ff7369;
      text-transform: uppercase;
      font-family: 'Bree Serif', serif;
      font-size: large;
    }
    
    
    /* Avatar image */
    img.avatar {
      width: 20%;
      border-radius: 0;
    }
    
    /* Add padding to containers */
    .container {
      margin: auto;
      width: 50%;
      padding: 4em;
      border-radius: 2em;
      background-color: rgba(0, 0, 0, 0.4);
    
    }
  
    #password {
      color: rgb(140, 87, 255);
    }
